<!DOCTYPE html>
<html>
<head>
    <title>Perfect Roommate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Boogaloo|Cormorant+Garamond|Pacifico|Pontano+Sans|Neucha" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>

<body>
<div class="container">
    <header id="app-name" class="write"></header>
    {{{body}}}
</div>
<script type="text/javascript" src="/javascript/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascript/change-question.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".write").typed({
            strings: ["Perfect Roommate..."],
            typeSpeed: 30,
            startDelay: 500,
            backDelay: 300,
            loop: false,
        });
    });
</script>
</body>

</html>