<h1>Please Login</h1>

<form method="POST" action="/process-login">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="userame">

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-danger">Login</button>
</form>