<h1>Please Login</h1>

<form method="POST" action="/process-login">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="userame">
    </div>
    <button type="submit" class="btn btn-danger">Let's Go</button>
</form>