<p class="lead gen-page-title">Please type in your username</p>

<form method="POST" action="/process-login" class="login-form container jumbotron">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="userame">
    </div>
    <button type="submit" class="btn btn-success">Let's Go</button>
</form>