<h1>This is Questionnaires page</h1>
<p class="lead">Answer the questions in a scale rate of 2 to 5: 1 being
"Strongly Disagee" and 5 being "You Strongly agree".
</p>
<h3>Questionnaire for {{username}}</h3>

<form method="POST" action="/{{username}}/process-quesionnaire">
    {{#each questionnaire as |aQuestion|}}
        <p class="lead">{{aQuestion.question}}</p>
    {{/each}}
    <button type="submit" class="btn btn-info">Submit Responses</button>
</form>