{{#if errorMessage}}

<div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form method="POST" action="/register" class="container jumbotron register-form">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">

        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">

        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="userame">


        <label>Gender:</label> <br>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" id="male" value="male">
                Male
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" id="female" value="female">
                Female
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" id="none" value="none">
                Prefer not to answer
            </label>
        </div>
    </div>
    <div class="login-and-register-button-container">
        <button type="submit" class="btn btn-success gen-button">Register</button>
        <p class="lead">Already Registered?</p>
        <button class="btn btn-success gen-button link-button"><a href="/login">Find Me!</a></button>
    </div>
</form>