h1 {
    text-align: center;
}

.jumbotron {
    padding: 1em;
}

/*css for changequestion.hbs*/
#user-answers {
    visibility: hidden;
}

#updateAnswerErrorMessage {
    display: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.profile-picture {
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

.card {
    display: inline-block;
    width:16em;
}

.card img {
    width:16em;
    height:12rem;
}

.card-title, .card-text{
    color: white;
}