.gen-page-title {
  text-align: center;
  color: azure;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
}
.button-style {
  font-family: 'Berkshire Swash', cursive;
  text-decoration: none;
  color: azure;
  font-size: 1.3em;
}
body {
  background: url("../images/application-pictures/register-form-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.form-style {
  background-color: #ffffff;
  opacity: 0.9;
  max-width: 40em;
  min-width: 20em;
}
#app-name {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 3em;
  color: azure;
  margin-bottom: 10px;
}
.register-form {
  background-color: #ffffff;
  opacity: 0.9;
  max-width: 40em;
  min-width: 20em;
}
.gen-button {
  font-family: 'Berkshire Swash', cursive;
  text-decoration: none;
  color: azure;
  font-size: 1.3em;
}
.link-button {
  font-family: 'Berkshire Swash', cursive;
  text-decoration: none;
  color: azure;
  font-size: 1.3em;
}
.link-button a {
  text-decoration: none;
  color: azure;
}
.login-and-register-button-container {
  text-align: center;
}
.login-form {
  background-color: #ffffff;
  opacity: 0.9;
  max-width: 40em;
  min-width: 20em;
  text-align: center;
}
.login-form input {
  text-align: center;
}
.questionnaire-container {
  background-color: #ffffff;
  opacity: 0.9;
  max-width: 40em;
  min-width: 20em;
  text-align: center;
}
.questionnaire-question {
  font-family: 'Neucha', cursive;
  font-size: 1.5em;
}
.pro-pic-container {
  text-align: center;
}
.pro-pic-container img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  text-align: center;
}
.upload-container {
  text-align: center;
}
.upload-container input {
  display: inline-block;
}
.profile-detail-container {
  text-align: center;
}
.profile-detail-container .about-yourself-title {
  text-align: center;
  color: azure;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  color: black;
}
.profile-description-container {
  text-align: center;
}
.questions-in-profile-container {
  text-align: center;
}
.questions-in-profile-container ol {
  list-style: decimal inside none;
}
.profile-questions-headers {
  text-align: center;
  color: azure;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  color: black;
}
.errormessage {
  display: none;
  text-align: center;
}
#user-answers {
  display: none;
}
.match-page-title {
  margin-bottom: 20px;
  font-weight: bold;
}
.match {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid limegreen;
}
.match .match-image {
  text-align: center;
}
.match .match-image img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
.match .match-description {
  background: white;
  opacity: 0.9;
  padding: 5px;
  border-radius: 15px 50px;
}
.match .match-description p {
  text-align: left;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3em;
}
.end-matches-button {
  text-align: center;
}
